<div class="text-right"><%= link_to "Log out", logout_path, method: "delete" %></div>

<div class="row">
  <div class="col-sm-6">
    <table class="table">
      <caption><h3>Profile</h3></caption>
        <thead></thead>
      	<tr><td>Name:</td><td><%= @user.name %></td></tr>
      	<tr><td>Email:</td><td><%= @user.email %></td></tr>
    </table>
  </div>
  <div class="col-sm-6">
  </div>
</div>

<table class="table table-striped" >
  <caption><h3>Order History</h3></caption>
  <thead>
    <tr>
       <th>Merchant</th>
       <th>Amount</th>
       <th>Order session started</th>
       <th>User</th>
       <th>Order Sent Date</th>
       <th>Order Accepted Date</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
       <td><%= order.merchant_id %></td>
       <td><%= order.other_amount %></td>
       <td><%= order.created_at %></td>
       <td><%= order.user_id %></td>
       <td><%= order.sent_date %></td>
       <td><%= order.accepted_date %></td>
    </tr>
    <% end %>  
  </tbody>
</table>

<hr />

<%= render partial: "orders/order", collection: @orders, spacer_template: "shared/break" %>
