<%= form_for (@merchant) do |f| %>
	<%= @merchant.errors.full_messages.to_sentence %>
 	<p>
		<%= f.label :name %>
	</p>
	<p>
		<%= f.text_field :name, autofocus: true %>
	</p>
	<p>
		<%= f.label :avgprice, "Average price per meal (GBP) " %>
	</p>
	<p>
		<%= f.number_field :avgprice %>
	</p>
	<p>
		<%= f.label :body %>
	</p>
	<p>
		<%= f.text_area :body, cols: 30, rows:10 %>
	</p>
	<p>
		<%= f.label :latitud %>
		<%= f.number_field :latitud %>
	</p>
	<p>
		<%= f.label :longitud %>
		<%= f.number_field :longitud %>
	</p>
	<p>
		<%= f.label :placeid %>
		<%= f.text_field :placeid %>
	</p>
	<p>
		<%= f.label :image_name %>
		<%= f.text_field :image_name %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
