<div class="col-sm-6">
	<h4><%= link_to(merchant.name, merchant_path(merchant)) %></h4>
	<div class="row">
		<div class="col-sm-5 col-md-4"><%= link_to(show_image(merchant), merchant_path(merchant)) %></div>
		<div class="col-sm-7 col-md-8">
			<ul> 
				<li>Avg meal price: <%= merchant.avgprice %> GBP</li>
				<li><%= format_body(merchant) %></li>
				<li><%= pluralize(merchant.meals.count, "meal") %></li>
				<li><%= link_to("Show", merchant_path(merchant)) %> | <%= link_to("Edit", edit_merchant_path(merchant)) %> | <%= link_to("Delete", merchant_path(merchant), method: :delete, data: {confirm: "Would you like to delete this Merchant?"}) %></li>
			</ul>
		</div>
	</div>
</div>