<h3><%= @merchant.name %></h3>

<%= render('form') %>

<%= link_to 'Cancel', merchant_path(@merchant.id) %>

<p>
	Created at: <%= @merchant.created_at.to_s(:short) %>
</p>
<p>
	Updated at: <%= @merchant.updated_at.to_s(:short) %>
</p>
