
<div class="row ">

    <div class="col-xs-3 "></div>
      <%= form_tag("/search", method: "get") do %>
        <%= label_tag(:q, "") %>
    <div class="col-xs-4">
      <%= text_field_tag(:q, '',class: 'form-control') %>
    </div>
    <div class="col-xs-2">
      <%= submit_tag("Search", class: 'btn btn-primary btn-text-color') %>
    </div>
      <% end %>
    <div class="col-xs-3 text-right">
      <strong ><%= link_to('Add Merchant', new_merchant_path) %></strong>
    </div>

</div>

  <h3 class="thin"> <%= pluralize(@merchants.count, 'Merchant') %> near you</h3>


<hr />
<%= render partial: "merchants", locals: { merchants: @merchants, caption: "" } %>

<!-- render partial: "merchants", locals: { merchants: @expensive_merchants, caption: "Expensive Merchants" }  -->
<!-- render partial: "merchants", locals: { merchants: @budget_merchants, caption: "Affordable Merchants" } -->