
<div class="row">

          <%= form_tag("/search", method: "get", class: 'form-inline center') do %>
        <div class="col-xs-4">
            <%= label_tag(:q, "") %>
        </div>
        <div class="col-xs-4">
          <%= text_field_tag(:q, '',class: 'form-control') %>
        </div>
        <div class="col-xs-1">
          <%= submit_tag("Search", class: 'btn btn-primary btn-text-color') %>
       </div>
      <% end %>

</div>

  <div class="row" id="row-header">
    <div class="col-sm-6">
      <h3 class="thin"> <%= pluralize(@merchants.count, 'Merchant') %> near you</h3>
    </div>

    <div class="col-sm-6">
      <button class="btn btn-primary"><%= link_to('Create new merchant', new_merchant_path, class: 'btn-text-color') %></button>
    </div>
  </div>

<hr />
<%= render partial: "merchants", locals: { merchants: @merchants, caption: "" } %>

<!-- render partial: "merchants", locals: { merchants: @expensive_merchants, caption: "Expensive Merchants" }  -->
<!-- render partial: "merchants", locals: { merchants: @budget_merchants, caption: "Affordable Merchants" } -->