<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= link_to('Create new merchant', new_merchant_path) %>
    </div>
    <div class="col-md-6">
      <%= form_tag("/search", method: "get") do %>
        <%= label_tag(:q, "Search for:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
</div>


<h3> <%= pluralize(@merchants.count, 'Merchant') %> near you</h3>

<%= render partial: "merchants", locals: { merchants: @merchants, caption: "All Merchants" } %>
<%= render partial: "merchants", locals: { merchants: @expensive_merchants, caption: "Expensive Merchants" } %>
<%= render partial: "merchants", locals: { merchants: @budget_merchants, caption: "Affordable Merchants" } %>