<div class="header" id="search-bar">
      <%= form_tag("/search", method: "get") do %>
        <%= label_tag(:q, "") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
</div>

<div class="row">

  <div class="col-sm-9">
    <button><%= link_to '< Back to Merchants near you', merchants_path %></button>
  </div>
  
  <div class="col-sm-3">
      <%= link_to "Edit", edit_merchant_path(@merchant) %> | <%= link_to "Delete", merchant_path(@merchant), method: :delete, data: {confirm: "Would you like to delete: #{@merchant.name}"} %> | <%= link_to "Add Meal", new_merchant_meal_path(@merchant) %>
      </p>
  </div>
</div>

<div class="container">
  <div class="row"><!-- 1 -->
    
    <h3><%= @merchant.name %></h3>
<hr />

    <div class="col-sm-8"> <!-- 1.A -->

      <div class="row"> <!-- 1.2 -->
        <div class="col-sm-4"><%= show_image(@merchant) %></div>
        <div class="col-sm-8">
            <br><strong><%= format_body(@merchant) %></strong></br>
            <br><small>Avg meal price: <%= @merchant.avgprice %> GBP</small></br>
            <br><em><%= pluralize(@merchant.meals.count, "meal") %></em></br>
        </div>
      </div>
    </div>   

    <div class="col-sm-4"> <!-- 1.B -->
    
      <div class="row">
        <h4>Your order</h4>
            <%= form_for([@merchant, @order]) do |f| %>
              <br><%= f.label :other_amount %> GBP</br>
              <%= f.text_field :other_amount, :class => 'other_amount', :value => (number_with_precision(f.object.other_amount, :precision => 2) || 0) %> 
              <%= f.submit 'Add' %>
            <% end %>
        <ul>
          <li>
            Other amount: <%= current_user.current_order(@merchant.id).other_amount %> GBP
          </li>
            <% current_user.current_order(@merchant.id).line_items.each do |line_item| %>
          <li>
            <%= line_item.meal.body %> <%= line_item.quantity %> <%= line_item.item_price %>
          </li>
            <% end %>
        </ul>
        <%= form_for(:order, :url => send_order_path(@order.id)) do |f| %>
          <%= f.submit("Send order") %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<hr>

   <div class="row">
    <%= render partial: "meals/meal", collection: @merchant.meals, locals: {current_order: @order  } %>
    </div>


<!-- link_to "See all meals", merchant_meals_path(@merchant)  link deleted
 -->
<!--  render partial: "meals/meal", collection: @merchant.meals, spacer_template: "shared/break", locals: {current_order: @order  } -->






