<p><%= link_to 'Back to Merchants near you', merchants_path %></p>

<p><%= link_to "Edit", edit_merchant_path(@merchant) %></p>

<p><%= link_to "Delete", merchant_path(@merchant), method: :delete, data: {confirm: "Would you like to delete: #{@merchant.name}"} %>
<p>
  <%= link_to "Add Meal", new_merchant_meal_path(@merchant) %>
</p>
<div class="container">
  <h3><%= @merchant.name %></h3>
  <div class="row">
    <div class="col-md-2 col-sm-2 "><%= show_image(@merchant) %></div>
    <div class="col-md-10 col-sm-10 ">
      <ul> 
        <li>Avg meal price: <%= @merchant.avgprice %> GBP</li>
        <li><%= format_body(@merchant) %></li>
        <li><%= link_to(pluralize(@merchant.meals.count, "meal"), merchant_meals_path(@merchant)) %></li>
      </ul>
    </div>
  </div>
</div>

<hr>

<!-- review -->
<%= form_for([@merchant, @order])  do |f| %>
  </br>
  <%= f.label :other_amount %> GBP
  </br>
  <%= f.text_field :other_amount, :class => 'other_amount', :value => (number_with_precision(f.object.other_amount, :precision => 2) || 0) %> 
  </br>
  <%= f.submit %>
<% end %>

<h3>Select your meal:</h3>
<hr>

<%= render partial: "meals/meal", collection: @merchant.meals, spacer_template: "shared/break" %>

<%= link_to "See all meals", merchant_meals_path(@merchant) %> 


<html>
  <head>
    <title>Place details</title>
<!--      https://developers.google.com/maps/documentation/javascript/examples/place-search 
 -->    
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 50%;
        width: 50%;
      }
    </style>
    <script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 51.52609, lng: -0.108995},
    zoom: 15
  });

  var infowindow = new google.maps.InfoWindow();
  var service = new google.maps.places.PlacesService(map);

  service.getDetails({
    placeId: '<%= @merchant.placeid %>'
  }, function(place, status) {
    if (status === google.maps.places.PlacesServiceStatus.OK) {
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location
      });
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(place.name);
        infowindow.open(map, this);
      });
    }
  });
}

    </script>
  </head>
  <body>
    <div id="map"></div>
    <script
src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initMap" async defer></script>
  </body>
</html>







