<p><%= link_to 'Back to Merchants near you', merchants_path %></p>

<%= link_to "Edit", edit_merchant_path(@merchant) %>
<h3><%= @merchant.name %></h3>

<h4><%= @merchant.avgprice %></h4>

<p><%= @merchant.body %></p>

<html>
  <head>
    <title>Place details</title>
     <!-- https://developers.google.com/maps/documentation/javascript/examples/place-search 
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8" -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 50%;
        width: 50%;
      }
    </style>
    <script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 51.52609, lng: -0.108995},
    zoom: 15
  });

  var infowindow = new google.maps.InfoWindow();
  var service = new google.maps.places.PlacesService(map);

  service.getDetails({
    placeId: 'ChIJH6fuhEUbdkgRb6UADudVd2g'
  }, function(place, status) {
    if (status === google.maps.places.PlacesServiceStatus.OK) {
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location
      });
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(place.name);
        infowindow.open(map, this);
      });
    }
  });
}

    </script>
  </head>
  <body>
    <div id="map"></div>
    <script
src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initMap" async defer></script>
  </body>
</html>

