<p><%= link_to 'Back to Merchants near you', merchants_path %></p>

<p><%= link_to "Edit", edit_merchant_path(@merchant) %></p>

<p><%= link_to "Delete", merchant_path(@merchant), method: :delete, data: {confirm: "Would you like to delete: #{@merchant.name}"} %>
<p>
  <%= link_to "Add Meal", new_merchant_meal_path(@merchant) %>
</p>
<div class="container">
  <h3><%= @merchant.name %></h3>
  <div class="row">
    <div class="col-md-2 col-sm-2 "><%= show_image(@merchant) %></div>
    <div class="col-md-10 col-sm-10 ">
      <ul> 
        <li>Avg meal price: <%= @merchant.avgprice %> GBP</li>
        <li><%= format_body(@merchant) %></li>
        <li><%= pluralize(@merchant.meals.count, "meal") %></li>

      </ul>
    </div>
  </div>
</div>

    <p>Items in order id: <%= current_user.current_order(@merchant.id).id %></p>
    <ul>
        <li>
          Other amount: <%= current_user.current_order(@merchant.id).other_amount %> GBP
        </li>
      <% current_user.current_order(@merchant.id).line_items.each do |line_item| %>
        <li>
          <%= line_item.meal.body %> <%= line_item.quantity %> <%= line_item.item_price %>
        </li>
      <% end %>
    </ul>

<hr>

<%= form_for([@merchant, @order]) do |f| %>
  </br>
  <%= f.label :other_amount %> GBP
  </br>
  <%= f.text_field :other_amount, :class => 'other_amount', :value => (number_with_precision(f.object.other_amount, :precision => 2) || 0) %> 
  </br>
  <%= f.submit 'Add' %>
<% end %>

    <h3>Select your meal:</h3>

    <hr />

    <%= render partial: "meals/meal", collection: @merchant.meals, spacer_template: "shared/break", locals: {current_order: @order  } %>


<%= link_to "See all meals", merchant_meals_path(@merchant) %> 







