<%= form_for([@merchant, @meal]) do |f| %>
	<%= @merchant.errors.full_messages.to_sentence %>
	<p>
		<%= f.label :body, "Please enter the meal description:" %>
	</br>
		<%= f.text_area :body, cols: 30, rows: 10 %>
	</p>
		<%= f.label :price, "Enter meal price" %>
	</br>
		<%= f.text_field :price, :class => 'price', :value => (number_with_precision(f.object.price, :precision => 2) || 0) %>
	</p>
	<p>
		<%= f.label :image_name, "Image URL" %>
		<%= f.text_field :image_name %>
	</p>
	<p>
		<%= f.submit %>
	</p>

<% end %>

<%= link_to 'Cancel', merchant_path(@merchant) %>