<!DOCTYPE html>
<html>
<head>
  <title>Merchants</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69150537-1', 'auto');
    ga('send', 'pageview');
  </script>

</head>
	<body>

    <div class="navbar navbar-default navbar-fixed-top">

      <div class="container">

        <div class="row body-header"> 
          <div class="col-xs-6">
            <div class="navbar-header" >
              <%= link_to image_tag('water.jpg', height: '35'), merchants_path, class: 'navbar-brand' %>
            </div> 
          </div>
          <div class="col-xs-3 nav navbar-nav">
            <%= link_to "Mobile App", "https://invis.io/H24UHJ56C", :target => "_blank" %>
          </div>

          <div class="col-xs-3">
              <ul class="nav navbar-nav navbar-right"> 
                <% if logged_in? %>
                  <strong><%= link_to current_user.name, user_path(current_user) %></strong>  
                <% else %>
                  <%= link_to "Log In", login_path %> or
                  <%= link_to "Sign Up", new_user_path %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
    </div>

        
    <div class= "container" id="body-content">     

      <div class= "container">
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: 'alert alert-warning') %>
        <% end %>
      </div>


      <%= yield %>
    </div>

	</body>
</html>

